<?xml version="1.0"?>
<dialog name="quick_start" show_again="false"/>
<window>
  <width>960</width><height>640</height>
  <style material_theme="Dark" material_primary="BlueGrey" material_accent="Cyan"
    toolbar_color_light="#111c2b" toolbar_text_color_light="#dae5f5"
    toolbar_color_dark="#111c2b" toolbar_text_color_dark="#dae5f5"/>
  <menus><drawer visible="false" default="false"/><plugins visible="false"/></menus>
  <dialog_on_exit>false</dialog_on_exit>
</window>
<plugin filename="MinimalScene" name="Simulation">
  <gz-gui>
    <property key="showTitleBar" type="bool">false</property>
    <property key="state" type="string">docked</property>
  </gz-gui>
  <engine>ogre</engine><scene>scene</scene>
  <ambient_light>0.4 0.4 0.4</ambient_light>
  <background_color>0.10 0.14 0.19</background_color>
  <camera_pose>0 0 95 -3.14159265 1.57079633 0</camera_pose>
</plugin>
<plugin filename="GzSceneManager" name="Scene Manager">
  <gz-gui>
    <property key="state" type="string">floating</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>
<plugin filename="InteractiveViewControl" name="View Control">
  <gz-gui>
    <property key="state" type="string">floating</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>
<plugin filename="CameraTracking" name="Camera Tracking">
  <gz-gui>
    <property key="state" type="string">floating</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>
